@import '~_scss/config/vars';
@import '~_scss/config/mixins';

:host {
    position: fixed;
    top: 0;
    right: 0;

    width: 400px;
    margin-top: $header-height;

    z-index: 10;

    transform: translateX(100%);

    @include media-q ($screen-xs) {
        width: 100%;
    }
}
.cart-component {
    min-height: calc(100vh - #{$header-height});
    background-color: $background-secondary;

    transition: transform .3s ease;
    box-shadow: $shadow;

    // transform: translateX(100%);
    padding: 15px;

    &--open {
        transform: translateX(-100%);
    }

    .card {
        &__body {
            display: flex;
            &__img {
                background-image: url('~_img/headset.jpg');
                background-size: cover;
                background-position: center;

                min-width: 80px;
                height: 80px;
            }

            &__description {
                margin-left: 10px;
                width: 100%;
            }
        }
    }

    &__footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;

        padding: 15px;

        &__btn-checkout {
            &:first-of-type {
                margin-right: calc(15px / 2);
            }
            &:last-of-type {
                margin-left: calc(15px / 2);
            }
        }
    }
}