<div class="home-component">
    <slider-component
        [images]="sliderImages"
        [options]="options"
    ></slider-component>

    <div class="home-component__offers">
        <offer-component
            text="Awesome Eletronics"
            textSize="25px"
        ></offer-component>
        <offer-component
            text="Save 25%"
            BgColor="#9b0000"
        ></offer-component>
        <offer-component
            text="New Arrivals Daily"
            textSize="25px"
        ></offer-component>
    </div>
    <div class="home-component__list-products">
        <list-products
            [products]="products"
        ></list-products>
    </div>
</div>