@import '~_scss/config/mixins';

.home-component {
    margin-top: 15px;

    &__offers {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;

        @include media-q($screen-xs) {
            display: inherit;
        }
    }

    &__list-products {
        margin: 10px 0;
    }
}