<div class="slider-component">
    <div #slider class="siema slider-component__main">
        <div class="slider-component__main__images"
            *ngFor="let image of images"
            [ngStyle]="{
                'background-image': 'url(' + image +')',
                'height': height + 'px'
            }"
        >

        </div>
        <!-- <div><img src="https://pawelgrzybek.com/siema/assets/siema--pink.svg" alt="Siema image" /></div>
        <div><img src="https://pawelgrzybek.com/siema/assets/siema--yellow.svg" alt="Siema image" /></div>
        <div><img src="https://pawelgrzybek.com/siema/assets/siema--pink.svg" alt="Siema image" /></div>
        <div><img src="https://pawelgrzybek.com/siema/assets/siema--yellow.svg" alt="Siema image" /></div> -->
    </div>

    <div *ngIf="arrows" class="slider-component__arrows" (click)="prev()"></div>
    <div *ngIf="arrows" class="slider-component__arrows" (click)="next()"></div>
</div>