<div class="header">
    <div class="header__login-nav">
        <div class="header__login-nav__container container">
                A Simple Shop template
        </div>
    </div>
    <div class="header__main-nav">
        <div class="header__main-nave__container container">
            <div class="container__logo-block">
                <div class="container__logo-block__img">

                </div>
                <div class="container__logo-block__text">
                    Angular Shop
                </div>

            </div>
        </div>
    </div>
</div>