@import '~_scss/config/vars';
@import '~_scss/config/mixins';

.header {
    &__login-nav {
        background-color: $primary;
        color: rgba($white, .70);
        padding: 15px 0;
    }
    &__main-nav {
        background-color: $white;
        padding: 15px 0;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__logo-block {
                display: flex;
                align-items: center;

                &__img {
                    width: 50px;
                    height: 50px;

                    background-image: url('~_img/angular.svg');
                    background-position: center;
                    background-size: cover;
                }

                &__text {
                    font-size: rem(24px);
                    font-family: $font-pacifico;
                    margin-left: 10px;
                }
            }

            &__cart-icon {
                font-size: rem(25px);
            }

        }
    }
}